<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 暮光之旅</title>
</head>
<body>
    <header>
        <nav>
            <div>
                暮光之旅
            </div>
            <ul>
                <li></li>
            </ul>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            &copy; 2020 - 暮光之旅
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
